<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Video Lecture</title>
<link rel="stylesheet" href="../assets/css/video_lecture.css">
<link rel="stylesheet" href="../assets/css/combined.css">
</head>
<body>

<!-- <div class="video-container category"> -->
<div class="video-container "></div>
    <!-- <div class="category.fullstack"> -->
    <div class="backend"></div>
        <h2>Backend Video Lecture</h2>
        <div class="video-wrapper">
            <video class="video-player" controls preload="metadata">
                <source src="How_To_Become_A_Successful_Java_Developer_In_2023_Java_Developer (1).mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="video-description">
                <p><b>Backend Developer Roadmap: A Comprehensive Guide</b></p>
                <p><u>Description: </u><br><br>Embark on your journey to becoming a proficient backend developer with our comprehensive roadmap tutorial video. Whether you're just starting out or looking to enhance your skills, this video covers everything you need to know, from fundamental concepts to advanced techniques. Explore key topics such as database management, server-side scripting, API development, and more, guided by industry experts. Start building robust backend systems and unlock exciting career opportunities in web development today!</p>
                <input type="checkbox" id="frontend_checkbox" disabled>
                <label for="frontend_checkbox">Seen</label><br><br>
            </div> <br><br>


            <video class="video-player" controls preload="metadata">
                <source src="Java_Tutorial_for_Beginners_in_Hindi_____Core_Java_Full_Course_2023_by_JTC(480p)" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="video-description">
                <p><b>JavaScript Crash Course: A Beginner's Tutorial</b></p> 
                <p>Description Dive into the fundamentals of Java programming with this comprehensive tutorial by JTC. Perfect for beginners, this course covers essential topics in Core Java, offering clear explanations and practical examples. Whether you're new to coding or seeking to strengthen your Java skills, this course provides a solid foundation for understanding Java programming concepts.</p>
                <input type="checkbox" id="backend_checkbox" disabled>
                <label for="backend_checkbox">Seen</label><br><br>
            </div> <br><br>
        </div>
    </div>
</div>

<script src="../js/video_lecture.js"></script>
<script src="../js/fe.js"></script>
<script src="../js/be.js"></script>
<script src="../js/fullstack.js"></script>
<script src="../js/combined.js"></script></body>
</html>