<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frontend Quiz</title>
<link rel="stylesheet" href="../assets/css/fe_be_ap.css">  
</head>
  <body>
    <h1>Frontend Quiz</h1>
    <ol id="quiz-questions"></ol>
    <button type="submit">Submit</button>

    <!-- The Modal -->
    <div id="scoreModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <p id="scoreMessage"></p>
      </div>
    </div>

<script src="../js/fe.js"></script>
  </body>
</html>
